.section__photo {
    margin: 10px;
    width: 300px;
    height: auto;
    border-radius: 50px;
    box-shadow:1px 1px 1px 2px #000000
}

.section__subHeader {
    margin: 10px;
    height: auto;
    text-shadow: 2px 3px 10px #e88bb0
}

.section__unorderedList {
    list-style-type: circle;
}

.section__container {
    overflow-x:auto;
}